@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}


/* In your CSS file or within a <style> tag */
@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}
